body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.42857;
  color: #333;
  text-align: left;
  background-color: #fff;
  //width: 80%;
  margin: 0 auto;
}

li {
  display: inline-block;
  max-width: 300px;
  float: left;
}

.card {
  background-color: white;
  border-radius: 0px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 0.25rem;
}

.card img {
  width: 230px;
  height: 230px;
}

.card .name {
  font-family: "alternate_gothic_fsno_2", Arial Narrow, Helvetica, Arial,
    sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  display: block;
  padding: 7px 5px;
}

.card .size {
  background: #000;
  color: #fff;
  padding: 5px;
  margin: 0px;
  border: none;
  font-size: 115%;
  font-weight: 400;
}

.product-footer {
  width: 100%;
  display: inline-table;
  padding: 0;
  position: relative;
}

.product-tile {
  display: table-cell;
  width: 50%;
  margin-left: -4px;
}

.btn {
  border-radius: 0;
  font-family: "alternate_gothic_fsno_2", Arial Narrow, Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  padding: 5px 12px;
  text-transform: uppercase;
  width: 100%;
  font-weight: 600;
}

.btn-primary {
  color: #fff;
  background-color: #789e37;
  border-color: #789e37;
}

.btn-secondary {
  color: #fff;
  background-color: #1893cc;
  border-color: #1893cc;
}
